
<div class="landing">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="row">
      <div class="carousel-indicators w-25">
        <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="imgs/slider-bg.jpg" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-7">
              <h1>
                <span class="red-color">Sale 25% </span>
                <span class="red-color">Off </span>
                <span class="dark-color">On </span>
                <span class="dark-color">Everything</span>
              </h1>
              <p class="dark-color text-left mt-4">
                <span class="d-block">This is your absolute last chance to get a discount 25% off on everything, so you
                  better act fast!</span>
                <span class="d-block">Claim Your Free Handbag.</span>
              </p>
              <a class="btn btn-danger w-25" href="#Our-products">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="imgs/slider-bg.jpg" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-7 pl-0 pr-0">
              <h1>
                <span class="red-color">Limited Time</span>
                <span class="red-color"> Offers</span>
                <span class="dark-color"> Coupon</span>
                <span class="dark-color"> 40% Off</span>
              </h1>
              <p class="dark-color text-left mt-4">
                <span class="d-block">Get 40% Off Now!</span>
                <span class="d-block">Our Shop Offers Are Amazing</span>
                <span class="d-block">Order Now and Receive by Tomorrow!</span>
              </p>
              <a class="btn btn-danger w-25" href="#Our-products">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="imgs/slider-bg.jpg" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-7 pl-0 pr-0">
              <h1>
                <span class="red-color">Hurry Up</span>
                <span class="red-color"> Limited</span>
                <span class="dark-color"> Offers</span>
              </h1>
              <p class="dark-color text-left mt-4">
                <span class="d-block">Call Now!</span>
                <span class="d-block">Hurry, take advantage of our best offer ever.</span>
                <span class="d-block">Claim Your Free Handbag!</span>
              </p>
              <a class="btn btn-danger w-25" href="#Our-products">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
