<div class="box mt-5 cartBox">
  <button class="btn btn-success" data-fancybox data-src="#productDetails" data-options='{"touch" : false}'>Add Product</button>
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products; let i = index">
        <td><img src="{{item.image}}" alt=""></td>
        <td>{{item.title}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}} L.E</td>
        <td><button class="btn btn-warning" data-fancybox data-src="#productDetails" data-options='{"touch" : false}'
            (click)="update(item)">Update</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal-popup" id="productDetails">
  <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>

  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label for="">Title</label>
          <input type="text" formControlName="title" class="form-control" placeholder="title">
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="">Price</label>
          <input type="number" formControlName="price" class="form-control" placeholder="price">
        </div>
        <div class="col-md-4 col-sm-12">
          <app-select [data]="categories" [title]="'Categories'" (selectedValue)="getSelectedCategory($event)"
            [all]="false" [select]="form.value.category"></app-select>
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="image">Image</label>
          <img src="{{base64}}" alt="">
          <input type="file" class="form-control" (change)="getImagePath($event)">
        </div>
        <div class="col-md-8 col-sm-12">
          <label for="image">Description</label>
          <textarea class="form-control" formControlName="description" placeholder="type here .. "></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-success" [disabled]="!form.valid" (click)="addProduct()">Add Product</button>
      </div>
    </form>
  </div>
</div>
