/* You can add global styles to this file, and also import other style files */

:root {
  --red-color: #f7444e;
  --dark-color: #002c3e;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 !important;
}

* {
  /* font-family: cursive; */
  font-family: "Montserrat", sans-serif;
  /* color: #0c0c0c; */
}

.dark-color {
  color: var(--dark-color);
}

.bg-dark-color {
  background-color: #002c3e;
}

.red-color {
  color: var(--red-color);
}

.bg-red-color {
  background-color: #002c3e;
}



.Subscribe {
  height: 100%;
  background-color: #d4ced0;
}

.Subscribe h2 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 600;
  color: var(--dark-color);
}

.Subscribe .content {
  padding: 100px 0;
}

.Subscribe form {
  width: 50%;
  margin: auto;
  margin-top: 25px;
}

.Subscribe input {
  border-radius: 50px;
  padding: 20px;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  font-size: 18px;
}

@media (max-width: 450px) {
  .Subscribe input::placeholder {
    font-size: 13px;
  }
}

.Subscribe button {
  border-radius: 50px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  text-align: center;
}
