/* You can add global styles to this file, and also import other style files */

:root {
  --red-color: #f7444e;
  --dark-color: #002c3e;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 !important;
}

* {
  /* font-family: cursive; */
  font-family: "Montserrat", sans-serif;
  /* color: #0c0c0c; */
}

.dark-color {
  color: var(--dark-color);
}

.bg-dark-color {
  background-color: #002c3e;
}

.red-color {
  color: var(--red-color);
}

.bg-red-color {
  background-color: #002c3e;
}


.landing {

  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 990px) {
  .landing {
    background-size: cover;
  }
}


.carousel-caption {
  width: 45%;
  top: 0;
  left: 0;
  text-align: left;
}

.landing .carousel-inner h1 {
  font-size: 72px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  line-height: 70px;
  /* margin-bottom: 10px; */
}

.landing .carousel-inner p {
  font-size: 20px;
  text-align: left;
}



.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 0.3;
}

.carousel-indicators [data-bs-target].active {
  width: 30px;
  height: 30px;
  background-color: var(--red-color);
}

.carousel-indicators {
  height: 30px;
  display: flex;
  align-items: center;
}

.landing .carousel-inner .carousel-item .row {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
}

.heading_container h1 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  position: relative;
  margin-bottom: 40px;
}

.heading_container h1::after {
  content: "";
  position: absolute;
  background-color: var(--red-color);
  width: 75px;
  height: 5px;
  bottom: -17px;
  left: 43%;
}

/* .arrival-section .box {
  color: #ffffff;
  padding: 45px 50px;

  margin: 10px auto;
  width: 30%;

}

@media (max-width: 767px) {
  .arrival-section .box {
    width: 100%;
  }

  .heading_container h1 {
    font-size: 2rem;
  }
} */


/* .NewArrivals {
  height: 80vh;
  background-color: #d4ced0;
  background-image: url('./assets/imgs/arrival-bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  align-content: center;
}

.NewArrivals h2 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 600;
  color: var(--dark-color);
}

@media (max-width: 991px) {
  .NewArrivals {
    background-size: 0;
  }
} */




.Subscribe {
  height: 100%;
  background-color: #d4ced0;
}

.Subscribe h2 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 600;
  color: var(--dark-color);
}

.Subscribe .content {
  padding: 100px 0;

}

.Subscribe form {
  width: 50%;
  margin: auto;
  margin-top: 25px;

}

.Subscribe input {
  border-radius: 50px;
  padding: 20px;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  font-size: 18px;
}

@media (max-width: 450px) {
  .Subscribe input::placeholder {
    font-size: 13px;
  }
}

.Subscribe button {
  border-radius: 50px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  text-align: center;
}


@media (max-width: 767px) {
  .heading_container h1 {
    font-size: 27px;
  }
}

.testimonial .arousel-item img {
  border-radius: 50%;
}

.testimonial .carousel {
  height: 450px;
}

.testimonial .carousel button .fa-circle-arrow-left {
  font-size: 50px;

}

.testimonial .carousel button .fa-circle-arrow-right {
  font-size: 50px;
}

.testimonial .carousel p {
  margin: auto;
}







.footer {
  background-color: #f8f8f8;
  color: #0c0c0c;
  margin-top: 45px;
}

.footer img {
  width: 250px;
}

.footer .menu li a {
  text-decoration: none;
  color: #0c0c0c;
  transition: 0.2s;
}

.footer .menu li a:hover {
  color: var(--red-color);
  font-weight: 700;
}

.footer ul.social li {
  list-style: none;
}

.footer ul.social li a svg {
  width: 20px;
  height: 20px;
}

.footer ul.social li a svg.facebook {
  background-color: #1877f2;
}

.footer ul.social li a svg.twitter {
  background-color: #1da1f2;
}

.footer ul.social li a svg.linkedin {
  background-color: #0a66c2;
}

.footer ul.social li a svg.youtube {
  background-color: #ff0000;
}

.footer .copyright a {
  text-decoration: none;
}

.footer .mail a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: var(--red-color);
  letter-spacing: initial;
}

.footer .copyright span a {
  font-weight: 700;
  color: var(--red-color);
}



.cpy {
  background-color: #222;
  color: white;
  padding: 25px;
}

.cpy span {
  color: var(--red-color);
}

.cpy .text-center a {
  text-decoration: none;
}

.cpy .text-center span a {
  color: var(--red-color);
}



/* Start contact */

.contact {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #d4ced0;
}

.contact .contact-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  background-color: #d4ced0;
}

.contact .contact-form form * {
  display: block;
}

.contact .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 70%;
}


.contact .contact-form h3 {
  font-size: 35px;
  letter-spacing: -2px;
  text-transform: capitalize;
  padding: 25px 0 40px;
}

.contact .contact-form form input,
textarea {
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-color: transparent transparent #ccc transparent;
  background-color: #f9f9f9;
  padding: 15px;
  transition: 0.3s;
  border-radius: 5px;
}

.contact .contact-form form input:not(:last-child):focus,
textarea:focus {
  outline: transparent;
  box-shadow: 6px 6px 10px 3px #777;
  transform: scale(1.05);
}

.contact .contact-form form textarea {
  height: 200px;
  resize: none;
}

.contact .contact-form form input[type="submit"] {
  background-color: var(--red-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

/* End contact */
