
<div class="NewArrivals mt-5">
  <div class="container">
    <div class="row h-100">
      <div class="col-md-12 col-lg-4">
      </div>
      <div class="col-md-12 col-lg-7">
        <h2>Are You New Visitor?!</h2>
        <p>We offer the best offers and products on our website, You can browse our website and shop now and you can
          take advantage
          of the offers presented on our website.</p>
        <a class="btn btn-danger w-25" href="products#Our-products">Shop Now</a>
      </div>
    </div>
  </div>
</div>
